body {
    background-color: #efeee7;
    font-family: "Georgia", Times New Roman, Times, serif;
    columns: #333333;
    margin-top: 0px; 
    padding: 0;
    }

header {
    background-color: #333333;
    padding-top: 20px;
    


}

h1 {color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0;

}

h2 {font-size: 24px;

}

.container {
    width: 1024 px;
    margin: 0 auto;


}

#main-bio,
#contact-info,
#bio-image {
    float: left;


}

#bio-image{
    width: 200 px;
    height: 200 px;
    margin-right: 20 px;

}

#main-bio {
    width: 70%;

}


#content-info {
    width: 30%;
    line-height: 1.5;
}

a {
    color: #d21034;

}

#figure {
    position: relative;
}

#bio-name {
    position: absolute;
    top: 200px;
    left: 30px
}